modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
moonshot_ai = "sk-nEZ33BS7ChX4hYZQavKpXimafNQg7CBAfMHjvTVLXwRAEAm6"
gemini_ai = "AIzaSyB0OpdKvCwJAvkIMcol0qK8bKKtc7rYw3E"
xai_key = "xai-CsDXfF2QCuDVBAgHf1cLA3xoKU4BRo1dn4UPtfSAkQnmjRtJjw852PcZQf8Em3aeuwmCrfhhz9xRDhmz"
nvidia_api = "YWRoYXZrYmswZmJzZjMxcjdidmxmNTRvNjU6NWMxN2YzOWMtZTc5NC00MzBmLTkxNDgtZTNhZGU4YzFlNjA0"
brave_api = "BSAiLTtSPqyco-PVB42TvydabSM8FtQ"
lanchain_api = "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"
together_api = "958559f83bb4e92c59aa72c8a023939e8a25dd98f4a4c7b0006cfa565563063c"
venice_api = "VENICE-ADMIN-KEY-atblq2xfyEIH5bWyhzqVf3Yno697BuylhuhgR3LekR"
git_webhook = "DpxG7C8MvkcSKOifobgVLXUaIFA0PNu3sRJq14jn"
litellm_api = "sk-95217667846744fef2b552f0c5fbd67828f074ff76ca0a09a0d765d7374e3311"
groq_api = "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"
vertex_api = "AQ.Ab8RN6Kyopeua4iKSpUEppENwOyYxUh8xJ8GttZmnsbfzSqlbg"
supabase_token = "sbp_79b0e5e41889fc114e04d039c1bb9b838eaeb0c5"
github_token = "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"
claude_api = "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"
openrouter_api_byok = "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"
deepseek_api = "sk-5958d57745db47a99461551709a17eb7"
